@font-face {
  font-family: "orangejuice";
  src: url("/fonts/orangejuice.ttf") format("truetype");
}
.html-container {
  background: url("../../public/images/background.png") repeat center center fixed;
  height: 100%;
  width: 100%;
}
